.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    .image {
      transform: scale(1.04);
    }
  }
}

.imageWrapper {
  height: 280px;
  display: flex;
  background: #fafaf8;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 230px;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-top: 16px;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.4;
  min-height: 42px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.price {
  margin-top: 12px;
  font-size: 1.1rem;
  font-weight: 700;
}

.button {
  margin-top: auto;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #e75650;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.imageLink {
  text-decoration: none;
}

.titleLink {
  text-decoration: none;
  color: inherit;

  &:hover .title {
    color: #e75650
  }
}